<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="WithSideBar" />

<f:render section="Navigation" partial="Navigation" arguments="{_all}" />

<f:render section="SubNavigation" partial="SubNavigation" optional="TRUE" arguments="{_all}" />
<div class="container">
	<f:render section="HeroUnit" partial="HeroUnit" optional="TRUE" arguments="{_all}" />
	<f:render section="TabNavigation" partial="TabNavigation" optional="TRUE" arguments="{_all}" />
	<!--TYPO3SEARCH_begin-->
	<div class="row">
		<f:render partial="Page/WithSideBar" section="WithSideBarOutPut{settings.position -> v:format.case(case: 'position')}" arguments="{_all}" />
	</div>
	<!--TYPO3SEARCH_end-->
	<f:render section="Footer" partial="Footer" arguments="{_all}" />
</div>

</div>
